.scrolltop {
	position: fixed;
	bottom: 50px;
	right: 25px;
	z-index: 5;
	cursor: pointer;
}
.showbutton {
	opacity: 1;
	transition: 0.5s;
	&__hidden {
		opacity: 0;
	}
}
.showbutton:hover {
	transform: scale(1.1);
	transition: transform 0.25s;
}