h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font-size: inherit;
}

p {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

h1 {
	font-weight: 600;
	font-size: 72px;
	line-height: 84px;
}

h2 {
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
}

h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
}

h4 {
}

h5 {
}

h6 {
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 50px;
	}
}
