.about {
	&__image {
		position: relative;
	}
	// .about__container
	&__container {
		width: 488px;
		max-width: 100%;
		padding: 50px 60px 60px 40px;

		background-color: #2947a9;
		color: #ffffff;
		box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
		border-radius: 2px;
	}
	&__container p {
		margin-top: 35px;
	}
	&__button {
		margin-top: 75px;
		color: #2947a9;
	}
}
