.ads {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/ads_background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;

	// .ads__container
	&__container {
		width: 1215px;
		max-width: 100%;
		margin: 0 auto;
		padding: 100px 20px 0;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	// .ads__block
	&__block {
		color: #ffffff;
	}
	&__block p {
		margin-top: 30px;
		font-size: 24px;
		line-height: 28px;
	}
	&__block a {
		margin-left: 10px;
		border-bottom: solid 1px #ffffff;
	}
	// .ads__button
	&__button {
		border: solid 2px #ffffff;
		border-radius: 2px;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
	}

	&__container a:link,
	&__container a:visited {
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0);
	}
	@media screen and (max-width: 1099px) {
		&__container {
			padding-top: 50px;
			gap: 50px;
			flex-direction: column;
		}
		&__block {
			text-align: center;
		}
	}
	@media screen and (max-width: 810px) {
		&__container {
			gap: 25px;
		}
	}
	@media screen and (max-width: 459px) {
		&__block h3 {
			font-size: 24px;
		}
		&__block p {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	@media screen and (max-width: 330px) {
		&__container {
			padding-top: 25px;
		}
	}
}
