.cta {
	background-color: #f6f8f7;
	&__container {
		padding: 60px 20px 0;
		margin: 0 auto;
		width: 1216px;
		max-width: 100%;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}
	// .cta__header
	&__header {
		text-align: center;
		color: #292e3d;
	}
	// .cta__explain
	&__explain {
		width: 540px;
		max-width: 100%;
		text-align: center;
		color: #292e3d;
	}
	// .cta__contact
	&__contact {
		form {
			width: 592px;
			max-width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 32px;
		}
	}
	// .cta__textfield
	&__textfield {
		width: 280px;
		max-width: 100%;
		border: 1px solid #e0e3eb;
		border-radius: 4px;
	}
	// .cta__textfield-input
	&__textfield-input {
	}
	// .cta__textarea
	&__textarea {
	}
	// .cta__message
	&__message {
	}
	// .cta__button
	form &__button {
		background-color: #2947a9;
		color: #ffffff;
	}
	// .cta__label
	&__label {
	}
	// .cta__load
	&__load {
	}
}

form select:invalid {
	color: gray;
}
input[type="submit"] {
	display: none;
}
