.cta {
	background-color: #f6f8f7;
	&__container {
		padding: 60px 20px 60px;
		margin: 0 auto;
		width: 1216px;
		max-width: 100%;

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}
	// .cta__header
	&__header {
		text-align: center;
		color: #292e3d;
	}
	// .cta__explain
	&__explain {
		width: 540px;
		max-width: 100%;
		text-align: center;
		color: #292e3d;
	}
	// .cta__contact
	&__contact {
		form {
	 		width: 592px;
			max-width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			gap: 32px;
		}
	}
	// .cta__textfield
	&__textfield {
		width: 280px;
		max-width: 100%;
	}
	// .cta__textfield-input
	&__textfield-input {
		width: inherit;
		max-width: 100%;

		border: 1px solid #e0e3eb;
		border-radius: 4px;
		padding: 10px;
		font-size: 18px;
		line-height: 21px;
		color: #a3aac2;
	}
	// .cta__textarea
	&__textarea {
		width: inherit;
		max-width: 100%;
	}
	// .cta__message
	&__message {
		width: inherit;
		max-width: 100%;
		font-size: 18px;
		line-height: 21px;
		padding: 10px;
	}
	&__textarea p {
		margin-top: 10px;
		font-size: 16px;
		line-height: 19px;
		color: #667299;
	}
	// .cta__button
	form &__button {
		background-color: #2947a9;
		color: #ffffff;
	}
	// .cta__label
	&__label {
	}
	// .cta__load
	&__load {
	}
}

form select:invalid {
	color: gray;
}
form select:valid {
	color: #2947a9;
}
form input:valid {
	color: #2947a9;
}
form textarea:valid {
	color: #2947a9;
}
input[type="submit"] {
	display: none;
}
