.footer {
	// .footer__container
	&__container {
		margin: 85px auto 85px;
		padding: 0 20px;
		width: 1216px;
		max-width: 100%;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	// .footer__information
	&__information {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 30px;
	}
	// .footer__address
	&__address {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	// .footer__address-head
	&__address-head {
		width: 105px;
		max-width: 100%;
		color: #2947a9;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
	}
	// .footer__address-text
	&__address-text {
		font-size: 20px;
		line-height: 23px;
		text-transform: capitalize;
		color: #292e3d;
		cursor: pointer;
	}
	// .footer__phone
	&__phone {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	// .footer__phone-head
	&__phone-head {
		width: 105px;
		max-width: 100%;
		color: #2947a9;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
	}
	// .footer__phone-text
	&__phone-text {
		font-size: 20px;
		line-height: 23px;
		text-transform: capitalize;
		color: #292e3d;
	}
	// .footer__email
	&__email {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	// .footer__email-head
	&__email-head {
		width: 105px;
		max-width: 100%;
		color: #2947a9;
		font-weight: 500;
		font-size: 20px;
		line-height: 23px;
	}
	// .footer__email-text
	&__email-text {
		font-size: 20px;
		line-height: 23px;
		text-transform: capitalize;
		color: #292e3d;
	}
	// .footer__logotype
	&__logotype {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	// .footer__feedback
	&__feedback {
	}
	// .footer__newsletter
	&__newsletter {
	}
	// .footer__textfield
	&__textfield {
	}
	// .footer__textfield-input
	&__textfield-input {
	}
	// .footer__button
	&__button {
	}
	// .footer__label
	&__label {
	}
	// .footer__load
	&__load {
	}
	// .footer__social
	&__social {
	}
	// .footer__links
	&__links {
	}
	// .footer__link
	&__link {
	}
	// .footer__static
	&__static {
		background-color: #2947a9;
	}
	&__static p {
		margin: 0 auto;
		padding: 25px 20px;
		width: 1216px;
		max-width: 100%;
		color: #ffffff;
		font-size: 16px;
		line-height: 19px;
	}
	@media screen and (max-width: 459px) {
		&__static p {
			text-align: center;
		}
	}
	@media screen and (max-width: 530px) {
		&__container {
			justify-content: center;
			gap: 30px;
		}
		&__address {
			flex-direction: column;
		}
		&__phone {
			flex-direction: column;
		}
		&__email {
			flex-direction: column;
		}
		&__logotype {
			flex-direction: column;
		}
	}
}
