.footer {
	// .footer__container
	&__container {
		margin: 85px auto 0;
		padding: 0 20px;
		width: 1216px;
		max-width: 100%;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	// .footer__information
	&__information {
	}
	// .footer__address
	&__address {
	}
	// .footer__address-head
	&__address-head {
	}
	// .footer__address-text
	&__address-text {
	}
	// .footer__phone
	&__phone {
	}
	// .footer__phone-head
	&__phone-head {
	}
	// .footer__phone-text
	&__phone-text {
	}
	// .footer__email
	&__email {
	}
	// .footer__email-head
	&__email-head {
	}
	// .footer__email-text
	&__email-text {
	}
	// .footer__logotype
	&__logotype {
	}
	// .footer__feedback
	&__feedback {
	}
	// .footer__newsletter
	&__newsletter {
	}
	// .footer__textfield
	&__textfield {
	}
	// .footer__textfield-input
	&__textfield-input {
	}
	// .footer__button
	&__button {
	}
	// .footer__label
	&__label {
	}
	// .footer__load
	&__load {
	}
	// .footer__social
	&__social {
	}
	// .footer__links
	&__links {
	}
	// .footer__link
	&__link {
	}
	// .footer__static
	&__static {
		background-color: #2947a9;
	}
	&__static p {
		margin: 0 auto;
		padding: 25px 20px;
		width: 1216px;
		max-width: 100%;
		color: #ffffff;
		font-size: 16px;
		line-height: 19px;
	}
}
