.hero {
	height: 646px;
	background-image: url(images/hero_background.png);
	background-color: #ffffff77;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	// .hero__header
	&__header {
		margin-top: 239px;
		width: 100%;
		max-width: 556px;
	}
	// .hero__feature
	&__feature {
		position: absolute;
		width: 100%;
		max-width: 418px;
		right: 0;
	}
	// .hero__buttons
	&__buttons {}
}

