.button {
  width: 214px;
  height: 60px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  background-color: #00a651;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-image: linear-gradient(315deg, #07e974 0%, #027a3c 74%);
  color: #ffffff;
  transition: 0.5s;
  box-shadow: 0 0 15px 5px #ffffff;
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.button a:hover {
  border-bottom: none;
}

.scrolltop {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 5;
  cursor: pointer;
}

.showbutton {
  opacity: 1;
  transition: 0.5s;
}
.showbutton__hidden {
  opacity: 0;
}

a:hover {
  border-bottom: solid 2px #ffffff;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: auto;
  overflow-x: hidden;
}

body._lock {
  overflow: hidden;
}

main {
  margin: 0px auto 0px auto;
  padding: 0;
}